/* The box-model */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #dddddd;
  color: #222222;
  font-size: 0.75em;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

a {
  color: black;
  text-decoration: none; }
  a:visited, a:active {
    color: black; }
  a:hover {
    text-decoration: underline; }

/* HEADINGS
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-size: 1.5em;
  color: #000;
  margin: 10px 0 10px 0; }

h1 {
  font-size: 3em;
  padding-bottom: 0;
  margin-bottom: 0; }

h2 {
  padding: 0 0 10px 0; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

h5, h6 {
  font-size: 1em; }

.dimmed {
  color: #999999; }

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/
/* you can specify a greater or lesser percentage for the
page width. Or, you can specify an exact pixel width. */
#page {
  min-width: 320px;
  max-width: 950px;
  margin-left: 5px;
  margin-right: 5px; }
  @media only screen and (min-width: 900px) {
    #page {
      margin-left: auto;
      margin-right: auto; } }

/* TAB MENU
----------------------------------------------------------*/
.menu {
  position: absolute;
  top: 50px;
  right: 15px;
  background: none #fff;
  padding: 0;
  margin: 0; }
  .menu#login-menu {
    width: 200px;
    background: none #fff;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 0px 20px 3px;
    padding: 15px 20px; }
  .menu#main-menu {
    width: 150px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 0px 20px 3px; }
    .menu#main-menu li {
      border-bottom: 1px solid #efefef;
      list-style: none;
      display: list-item;
      margin: 0;
      width: 100%;
      cursor: pointer; }
      .menu#main-menu li:hover {
        background: #f2f2f2;
        text-decoration: none; }
      .menu#main-menu li.selected {
        font-weight: bold; }
      .menu#main-menu li:last-child {
        border-bottom: none; }
      .menu#main-menu li a, .menu#main-menu li a:hover {
        display: block;
        text-decoration: none;
        padding: 10px 15px; }

.menu-arrow {
  z-index: 1;
  position: absolute;
  top: 45px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white; }
  .menu-arrow.main-menu-arrow {
    right: 18px; }
  .menu-arrow.login-menu-arrow {
    right: 120px; }

.menu-list-button {
  position: relative;
  padding-left: 1.25em;
  float: left;
  margin: 2px 15px 0 15px; }
  .menu-list-button a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 2px;
    border-top: 6px double #fff;
    border-bottom: 2px solid #fff; }

.menu-login-info, .menu-account-info {
  float: left; }

.login-display {
  float: right;
  margin: 20px 0 0 0;
  color: #999999; }
  .login-display a {
    color: #fff;
    text-decoration: none; }

textarea {
  min-height: 75px; }

/* --- FoosBall --- v v v
/* ---------------------------------------------------------*/
header, nav, section {
  display: block; }

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background: none #000;
  z-index: 20; }

#app-title {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center; }
  #app-title .logo-picture {
    float: left;
    margin: 10px 15px 0; }
    #app-title .logo-picture img {
      width: 80px;
      height: auto; }
  #app-title .logo-text {
    display: none; }
    @media only screen and (min-width: 900px) {
      #app-title .logo-text {
        display: block;
        font-size: 2em;
        float: left;
        margin: 10px 0 0 0; } }

#main {
  clear: both;
  min-height: 280px;
  padding: 80px 10px 5px; }

.button {
  -moz-box-shadow: inset 0px 1px 0px 0px #94c47c;
  -webkit-box-shadow: inset 0px 1px 0px 0px #94c47c;
  box-shadow: inset 0px 1px 0px 0px #94c47c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
  background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
  background-color: #77b55a;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #4b8f29;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c; }
  .button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background: -moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background: -webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background: -o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background: -ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color: #72b352; }
  .button:active {
    position: relative;
    top: 1px; }

.editor-icon {
  float: right;
  margin-top: 3px; }
  .editor-icon a img {
    height: 18px; }
  .editor-icon#edit-player {
    margin-right: 10px; }
  .editor-icon#delete-player {
    margin-right: 10px; }

/* FORM LAYOUT ELEMENTS
----------------------------------------------------------*/
fieldset {
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #222222;
  margin: 0 0 1.5em 0;
  -moz-box-shadow: 1px 2px 10px 0px #787878 ;
  -webkit-box-shadow: 1px 2px 10px 0px #787878 ;
  box-shadow: 1px 2px 10px 0px #787878 ; }
  fieldset legend {
    border: inherit;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.0em;
    font-weight: bold;
    margin: 0 auto;
    padding: 3px 5px;
    text-shadow: 2px 2px 2px #DDD;
    background-color: white;
    -moz-box-shadow: 1px 2px 5px 0px #787878 ;
    -webkit-box-shadow: 1px 2px 5px 0px #787878 ;
    box-shadow: 1px 2px 5px 0px #787878 ; }
  fieldset .wrapper {
    height: 100%;
    width: 100%; }

select {
  border: 3px solid #ccc;
  color: #444;
  font-size: 1.1em;
  height: 40px;
  margin: 0;
  padding: 2px;
  width: 98%; }

.submit-button {
  margin: 5px 0; }

.form-input {
  width: 90%;
  margin: 5px auto; }

.form-button {
  clear: both;
  float: none;
  margin: 10px auto 5px auto;
  width: 90%; }

input[type="text"], input[type="password"], input[type="email"] {
  border: 2px solid #ccc;
  color: #444;
  font-size: 1.1em;
  height: 1.5em;
  padding: 2px;
  width: 98%; }
  input[type="text"].short, input[type="password"].short, input[type="email"].short {
    width: 60px !important; }

input[type="submit"], input[type="button"], button {
  font-size: 1.0em;
  width: 100%;
  margin: 1px 0; }
  input[type="submit"][disabled="disabled"], input[type="button"][disabled="disabled"], button[disabled="disabled"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #bbb;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbb;
    box-shadow: inset 0px 1px 0px 0px #bbb;
    border: 1px solid #bbb;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dddddd), color-stop(1, #cccccc));
    background: -moz-linear-gradient(top, #dddddd 5%, #cccccc 100%);
    background: -webkit-linear-gradient(top, #dddddd 5%, #cccccc 100%);
    background: -o-linear-gradient(top, #dddddd 5%, #cccccc 100%);
    background: -ms-linear-gradient(top, #dddddd 5%, #cccccc 100%);
    background: linear-gradient(to bottom, #dddddd 5%, #cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#ccc',GradientType=0);
    color: #aaa; }
    input[type="submit"][disabled="disabled"]:active, input[type="button"][disabled="disabled"]:active, button[disabled="disabled"]:active {
      top: 0px; }

/* MISC
----------------------------------------------------------*/
.hide {
  display: none; }

.ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#overlay img {
  display: block;
  width: 100px;
  margin: 50% auto; }

/* Clear-fix */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/* Errors and Validation */
.error, .validation-message {
  background: rgba(255, 0, 0, 0.3);
  border: 2px solid red;
  color: black;
  margin: 10px 0 0 0;
  padding: 2px;
  width: 98%; }
  .error.small, .validation-message.small {
    font-size: .85em;
    margin: 2px 0 0 0; }
  .error.show, .validation-message.show {
    display: block; }

.field-validation-error {
  font-size: .85em;
  width: 90%;
  margin: 0 auto;
  color: Red; }

#request-notification {
  position: absolute;
  z-index: 99999;
  background-color: #D8D8D8;
  display: none;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  width: 100%; }
  #request-notification .button {
    margin-top: 15px; }

/* Background */
#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.bgwidth {
  width: 100%; }

.bgheight {
  height: 100%; }

.user-profile label {
  display: block; }

.admin label {
  margin: 5px 0 0 0;
  display: block;
  float: left;
  clear: left; }

#app-configuration .button {
  margin-top: 5px; }

input[type="checkbox"] {
  margin: 5px;
  float: left; }

#list-of-emails textarea {
  width: 100%; }

.home, .features {
  background: none #fff;
  border-radius: 5px;
  padding: 15px 20px; }

.home p {
  text-align: center; }

#welcome-message {
  text-align: center; }

.event-feed-items-header {
  text-align: center; }

.event-feed-items {
  list-style: none; }
  .event-feed-items li {
    padding-top: 20px; }
  .event-feed-items a {
    font-weight: normal;
    font-size: 1.0em;
    text-decoration: underline; }

.feature-list {
  list-style: none;
  padding-left: 20px; }
  .feature-list li ul li a {
    text-decoration: underline; }

#match-list {
  min-height: 590px; }

.match {
  margin: 40px 0 0 0; }

.team-names {
  position: relative;
  background: none rgba(255, 255, 255, 0.75);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 40%;
  height: 90px;
  float: left;
  padding: 10px 15px; }
  .team-names.red {
    text-align: left; }
    .team-names.red .gravatars {
      left: 10px; }
      .team-names.red .gravatars img {
        float: left;
        margin-right: 5px; }
  .team-names.blue {
    text-align: right; }
    .team-names.blue .gravatars {
      right: 10px; }
      .team-names.blue .gravatars img {
        float: right;
        margin-left: 5px; }
  .team-names.winner {
    background: none white;
    font-weight: bold; }
  .team-names .names {
    display: none;
    margin: 35px 0 0 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media only screen and (min-width: 350px) {
      .team-names .names {
        display: block; } }
  .team-names .rating-distribution.red {
    float: right; }
  .team-names .rating-distribution.blue {
    float: left; }
  .team-names .gravatars {
    position: absolute;
    top: -20px; }
    .team-names .gravatars img {
      border-radius: 50%;
      width: 48px;
      height: auto; }
      @media only screen and (min-width: 350px) {
        .team-names .gravatars img {
          width: 52px; } }

.team-scores {
  float: left;
  width: 20%;
  padding: 10px 15px;
  text-align: center;
  color: white; }
  .team-scores .score {
    position: relative;
    font-size: 2.5em; }
    .team-scores .score .red, .team-scores .score .blue {
      position: absolute;
      width: 50px;
      text-align: center;
      top: 40px;
      z-index: 10;
      color: #222222; }
      @media only screen and (min-width: 350px) {
        .team-scores .score .red, .team-scores .score .blue {
          position: relative;
          color: white; } }
    .team-scores .score .red {
      left: -100px; }
      @media only screen and (min-width: 350px) {
        .team-scores .score .red {
          top: 0;
          left: 0; } }
    .team-scores .score .blue {
      right: -100px; }
      @media only screen and (min-width: 350px) {
        .team-scores .score .blue {
          top: 0;
          right: 0; } }
  .team-scores .winner {
    font-weight: bold; }
  .team-scores .long-time {
    display: none; }
  @media only screen and (min-width: 350px) {
    .team-scores .short-time {
      display: none; }
    .team-scores .long-time {
      display: block; } }

#create-match-button {
  margin-top: 10px; }

.button.fetch {
  margin-top: 20px; }

/* SaveMatchResult View
----------------------------------------------------------*/
#match-form {
  background: none #fff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px 20px; }

.team {
  width: 40%; }

.team-scores {
  width: 20%; }

.team-score {
  font-size: 22px;
  height: 40px;
  margin: 5px auto 0 auto;
  text-align: center;
  width: 60px !important; }
  .team-score.invalid {
    border: 2px solid red; }

.team-name {
  font-weight: bold; }

.score-prediction {
  font-weight: normal; }

#team-red-players {
  float: left; }

#team-blue-players {
  float: right; }
  #team-blue-players .team-name {
    text-align: right; }

#team-results {
  clear: both; }

.opponent {
  padding: 20px 0; }
  .opponent input {
    width: 40px;
    margin: 0 auto;
    display: block; }
  .opponent.red {
    float: left;
    width: 45%; }
  .opponent.blue {
    float: right;
    width: 45%; }

.players .player {
  position: relative;
  background: none #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 75%;
  padding: 10px 15px;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.6); }
  .players .player:nth-child(1) {
    background: url("https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/icon_medal_gold.png"); }
  .players .player:nth-child(2) {
    background: url("https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/icon_medal_silver.png"); }
  .players .player:nth-child(3) {
    background: url("https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/icon_medal_bronze.png"); }
  .players .player:nth-child(-n+3) {
    background-color: rgba(255, 255, 255, 0.85);
    background-repeat: no-repeat;
    background-position: 11px 20px;
    background-size: 50px 50px;
    height: 75px; }
  .players .player .ranking {
    float: left;
    font-size: 26px;
    font-weight: bold;
    color: #D1D1D1;
    margin-right: 0;
    margin-top: 9px;
    width: 40px; }
  .players .player .avatar {
    float: left;
    margin: -30px 10px 0 -5px; }
    .players .player .avatar .gravatar {
      width: 52px;
      height: auto;
      border-radius: 50%; }
  .players .player .info {
    float: left;
    margin-top: 4px; }
    .players .player .info .name {
      width: 200px;
      float: left; }
    .players .player .info .score, .players .player .info .ratio {
      margin: 0 0 0 15px;
      float: left; }
    .players .player .info sup {
      color: #999999;
      font-size: 10px;
      margin-left: 2px; }

#profile-gravatar {
  border: 4px solid #dddddd;
  height: 80px;
  margin: 4px; }

.statistics {
  background: none #fff;
  border-radius: 5px;
  padding: 15px; }
  .statistics .info {
    font-weight: bold;
    margin: 0 0 10px 0; }
    .statistics .info .thin {
      font-weight: normal; }
  .statistics .stat {
    width: 25%;
    float: left;
    text-align: center;
    padding: 20px; }
    .statistics .stat .avatar img {
      border-radius: 50%; }
  .statistics.player {
    padding: 25px; }
    .statistics.player .avatar {
      margin: -40px 10px 0 -5px; }
      .statistics.player .avatar .gravatar {
        border-radius: 50%; }
    .statistics.player .column {
      float: left; }
      .statistics.player .column.first {
        width: 40%; }
      .statistics.player .column.second {
        width: 60%; }

