@model FeaturesViewModel
@{
    ViewBag.Title = "Features";
}

@section Css{ <link rel="stylesheet" href="/Css/Home.css"/>}

<h4>@Model.Settings.Name contains the following features:</h4>

<ul class="feature-list">
    <li>Cool Features:</li>
    <li>
        <ul>
            <li>A @Html.ActionLink("Scoreboard", "Index", "Players") where all players are listed by ranking in ascending order</li>
            <li>Basic statistics on games and players, including charts</li>
            <li>Supports <a href="http://www.gravatar.com">Gravatar</a> for your profile pictures</li>
            <li>A Match overview screen where you can see upcoming and played</li>
            <li>This Feature screen where current and upcoming features are listed</li>
            <li>Easily @Html.ActionLink("register new players", "Register", "Account")</li>
            <li>Login, with "remember me" feature</li>
            <li>Edit or delete your player information</li>
            <li>Create matches and resolve them when they are played</li>
            <li>Feedback widget (only when browser is wider than 930px)</li>
            <li>Relativistic rating system, based on the <a target="_blank" href="http://en.wikipedia.org/wiki/Elo_rating_system">Elo Rating System</a></li>
        </ul>
    </li>
</ul>

<h4>Ideas for upcoming features:</h4>
<ul class="feature-list">
    <li>
        <ul>
            <li>A Leaderboard / Hall of Fame</li>
            <li>A Looserboard / Crawl of Shame</li>
            <li>Custom sorting of lists and tables</li>
            <li>Odds on fights / Expected outcome</li>
            <li>More statistics on games and players</li>
            <li>A Tournament setup feature</li>
            <li>Notification emails feature</li>
            <li>Live event feed on the frontpage</li>
        </ul>
    </li>
</ul>
