@{
    ViewBag.Title = "Home of FoosBall'ers";
}

@section Javascript
{ 
    <script async src="@Url.Content("~/Javascript/Home.js")"></script> 
}
@section Css{ <link rel="stylesheet" href="/Css/Home.css"/>}

<h2 id="welcome-message">@ViewBag.Message</h2>