@using FoosBall.Models.Base
@model HomeViewModel
@{
    ViewBag.Title = "Home of FoosBall'ers";
}

@section Javascript
{ 
    <script async src="@Url.Content("~/Javascript/Home.js")"></script> 
}

<div class="frontpage clearfix">
    <h2 id="welcome-message">@Model.WelcomeMessage</h2>

    @if (Model.LatestEvents.Any())
    {
        <h3 class="event-feed-items-header">What's happening:</h3>
        <ul class="event-feed-items">
            @foreach (var latestEvent in Model.LatestEvents)
            {
                var eventTime = TimeZoneInfo.ConvertTime(latestEvent.Created.ToUniversalTime(), TimeZoneInfo.Utc, TimeZoneInfo.FindSystemTimeZoneById("Romance Standard Time"));
            
                switch (latestEvent.EventType)
                {
                    case EventType.PlayerCreate:
                        Html.RenderPartial("_PlayerCreateEventFeedListItem", latestEvent);
                        break;
                    case EventType.MatchResolve:
                        Html.RenderPartial("_MatchResolveEventFeedListItem", new EventViewModel { Event = latestEvent });
                        break;
                    default:
                        break;
                }   
            }
        </ul>
    }
</div>

