@model HomeViewModel
@{
    ViewBag.Title = "Home of FoosBall'ers";
}
@section Javascript
{ 
    <script src="@Url.Content("~/Javascript/angular/home.controllers.js")"></script> 
}
<div ng-controller="HomeController" class="home clearfix">
    <h2 id="welcome-message">@Model.WelcomeMessage</h2>
</div>
