@{
    ViewBag.Title = "Version";
}

<h4>FoosBall v. @ViewBag.Message contains the following features:</h4>

<ul id="version-feature-list">
    <li>Content</li>
    <li>
        <ul>
            <li>A Home / Welcome screen with random welcome mesages</li>
            <li>A Player overview screen where all players are listed by ranking in descending order</li>
            <li>A Match overview screen where you can see upcoming and played</li>
            <li>A Version screen where current and upcoming features are listed</li>
        </ul>
    </li>
    <li>Functionality</li>
    <li>
        <ul>
            <li>Register new players</li>
            <li>Login/Authentication, with "remember me" feature</li>
            <li>Edit or delete your own player</li>
            <li>Create or delete upcoming matches</li>
            <li>Resolve matches</li>
            <li>Player relativistic rating system, based on the <a target="_blank" href="http://en.wikipedia.org/wiki/Elo_rating_system">Elo Rating System</a></li>
        </ul>
    </li>
</ul>

<h4>Ideas for upcoming features:</h4>
<ul id="version-feature-list">
    <li>
        <ul>
            <li>A Leaderboard / Hall of Fame</li>
            <li>A Looserboard / Crawl of Shame</li>
            <li>Custom sorting of lists and tables</li>
            <li>A Feature to change account info</li>
            <li>More statistics on games and players</li>
            <li>A Tournament setup feature</li>
            <li>Image upload feature</li>
            <li></li>
        </ul>
    </li>
</ul>
