@using FoosBall.Models
@model Player
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Edit Player Data";
}
@section Javascript{ <script async src="/Scripts/Register.js"></script> }
@section Css{ <link rel="stylesheet" href="/Content/Players.css"/>}

@using (Html.BeginForm("Edit", "Players", FormMethod.Post, new { id = "edit-player" }))
{
    <h3>Create a FoosBall player</h3>
    <input type="hidden" name="player-id" value="@Model.Id"/>

    @Html.Partial("_PlayerBaseData", Model)

    <div class="form-button">
        <input type="submit" value="Save Player" class="submit-button button" id="edit-player-button"/>
    </div>
    <div class="validation-message"></div>
    <a id="go-back" href="/Players">Go Back</a>
}