/* The box-model */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #dddddd;
  color: #222222;
  font-size: 1.0em;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

a:link {
  color: black;
  text-decoration: none; }

a:visited {
  color: black; }

a:hover {
  color: black;
  text-decoration: underline; }

a:active {
  color: #black; }

/* HEADINGS
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-size: 1.5em;
  color: #000;
  margin: 10px 0 10px 0; }

h1 {
  font-size: 3em;
  padding-bottom: 0;
  margin-bottom: 0; }

h2 {
  padding: 0 0 10px 0; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

h5, h6 {
  font-size: 1em; }

.dimmed {
  color: #999999; }

/* TABLE
----------------------------------------------------------*/
table {
  border-collapse: collapse;
  width: 100%; }
  table th, table td {
    letter-spacing: 0;
    padding: 6px 3px 6px 3px;
    text-align: left; }
  table td {
    font-weight: normal; }
  table th {
    color: black;
    font-size: .8em;
    padding: 6px 3px 0 3px;
    text-align: center; }

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/
/* you can specify a greater or lesser percentage for the
page width. Or, you can specify an exact pixel width. */
#page {
  max-width: 800px;
  margin-left: 5px;
  margin-right: 5px; }

@media only screen and (min-width: 810px) {
  #page {
    margin-left: auto;
    margin-right: auto; } }
footer, #footer {
  background-color: #fff;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  color: #222222;
  font-size: 12px;
  margin: 0;
  padding: 0 10px 3px 10px;
  text-align: center; }
  footer a, footer a:link, footer a:visited, #footer a, #footer a:link, #footer a:visited {
    text-decoration: underline; }

/* TAB MENU
----------------------------------------------------------*/
#main-menu {
  line-height: 1.6em;
  margin: 0;
  position: relative;
  text-align: right;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }
  #main-menu li {
    display: inline;
    float: left;
    list-style: none; }
    #main-menu li a {
      margin: 0;
      padding: 5px 8px 3px;
      font-weight: bold;
      text-decoration: none;
      background-color: #dddddd;
      color: #222222; }
      #main-menu li a:hover {
        background-color: #fff;
        text-decoration: none; }
      #main-menu li a:active {
        background-color: #a6e2a6;
        text-decoration: none; }
    #main-menu li.selected a {
      background-color: #fff;
      color: #000; }

textarea {
  min-height: 75px; }

/* --- FoosBall --- v v v
/* ---------------------------------------------------------*/
header, footer, nav, section {
  display: block; }

nav, #menucontainer {
  margin-top: 5px; }

#app-title {
  font-size: 30px;
  font-weight: bold;
  padding: 5px 0;
  margin: 0;
  color: #000;
  border: none; }

#login-display {
  font-size: 0.85em;
  display: block;
  text-align: right;
  margin: 4px;
  color: #999999; }
  #login-display a {
    color: #222;
    text-decoration: underline; }
  #login-display a:link {
    color: #222;
    text-decoration: underline; }
  #login-display a:visited {
    color: #222;
    text-decoration: underline; }
  #login-display a:hover {
    color: #000;
    text-decoration: none; }

#main {
  clear: both;
  background-color: #fff;
  min-height: 280px;
  padding: 10px 10px 5px; }

.button {
  background: black;
  border: 1px solid #999999;
  color: #efefef;
  font-weight: bold;
  margin: 5px;
  padding: 10px 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }

.editor-icon {
  float: right;
  margin-top: 3px; }
  .editor-icon a img {
    height: 18px; }
  .editor-icon#edit-player {
    margin-right: 10px; }
  .editor-icon#delete-player {
    margin-right: 10px; }

/* FORM LAYOUT ELEMENTS
----------------------------------------------------------*/
fieldset {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #222222;
  margin: 0 0 1.5em 0; }
  fieldset legend {
    border: inherit;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.0em;
    font-weight: bold;
    margin: 0 auto;
    padding: 3px 5px;
    text-shadow: 2px 2px 2px #DDD; }
  fieldset .wrapper {
    height: 100%;
    width: 100%; }

select {
  border: 2px solid #ccc;
  color: #444;
  font-size: 1.1em;
  height: 40px;
  margin: 0;
  padding: 2px;
  width: 98%; }

.submit-button {
  margin: 5px 0; }

.form-input {
  width: 90%;
  margin: 5px auto; }

.form-button {
  clear: both;
  float: none;
  margin: 10px auto 5px auto;
  width: 90%; }

input[type="text"], input[type="password"], input[type="email"] {
  border: 2px solid #ccc;
  color: #444;
  font-size: 1.1em;
  height: 1.5em;
  padding: 2px;
  width: 98%; }
  input[type="text"]#Email.short, input[type="password"]#Email.short, input[type="email"]#Email.short {
    width: 60px!important; }

input[type="submit"], input[type="button"], button {
  font-size: 1.0em;
  width: 100%;
  margin: 1px 0; }

/* MISC
----------------------------------------------------------*/
.hide {
  display: none; }

.ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#overlay img {
  display: block;
  width: 100px;
  margin: 50% auto; }

/* Clear-fix */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/* Errors and Validation */
.error, .validation-message {
  background: rgba(255, 0, 0, 0.3);
  border: 2px solid red;
  color: black;
  display: none;
  margin: 10px 0 0 0;
  padding: 2px;
  width: 98%; }
  .error.small, .validation-message.small {
    font-size: .85em;
    margin: 2px 0 0 0; }
  .error.show, .validation-message.show {
    display: block; }

.field-validation-error {
  font-size: .85em;
  width: 90%;
  margin: 0 auto;
  color: Red; }

