/* Home/Features View
----------------------------------------------------------*/
.frontpage, .features {
  background: none #fff;
  border-radius: 5px;
  padding: 15px 20px; }

#welcome-message {
  text-align: center; }

.event-feed-items-header {
  text-align: center; }

.event-feed-items {
  list-style: none; }
  .event-feed-items li {
    padding-top: 20px; }
  .event-feed-items a {
    font-weight: normal;
    font-size: 1.0em;
    text-decoration: underline; }

.feature-list {
  list-style: none;
  padding-left: 20px; }
  .feature-list li ul li a {
    text-decoration: underline; }

