/* Home/Features View
----------------------------------------------------------*/
#welcome-message {
  text-align: center; }

.event-feed-items a {
  font-weight: bold;
  font-size: 1.0em; }

.feature-list {
  padding-left: 20px;
  list-style: none; }
  .feature-list li {
    color: black;
    font-size: .85em; }
    .feature-list li ul li a {
      text-decoration: underline; }

