/* Home/Features View
----------------------------------------------------------*/
#welcome-message {
    text-align: center;
}
.feature-list {
    padding-left: 20px;
    list-style: none;
    & li {
        color: black;
        font-size: .85em;
        ul li a {
            text-decoration: underline;
        }
    }
}
