/* Match View
----------------------------------------------------------*/
#match-list {
  min-height: 590px; }

#submit-match-form, #submit-challenge-form {
  display: none;
  margin-top: 20px; }

.match {
  margin: 40px 0 0 0; }

.team-names {
  position: relative;
  background: none rgba(255, 255, 255, 0.75);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 40%;
  height: 90px;
  float: left;
  padding: 10px 15px; }
  .team-names.red {
    text-align: left; }
    .team-names.red .gravatars {
      left: 10px; }
      .team-names.red .gravatars img {
        float: left;
        margin-right: 5px; }
  .team-names.blue {
    text-align: right; }
    .team-names.blue .gravatars {
      right: 10px; }
      .team-names.blue .gravatars img {
        float: right;
        margin-left: 5px; }
  .team-names.winner {
    background: none white;
    font-weight: bold; }
  .team-names .names {
    display: none;
    margin: 35px 0 0 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media only screen and (min-width: 350px) {
      .team-names .names {
        display: block; } }
  .team-names .rating-distribution.red {
    float: right; }
  .team-names .rating-distribution.blue {
    float: left; }
  .team-names .gravatars {
    position: absolute;
    top: -20px; }
    .team-names .gravatars img {
      border-radius: 50%;
      width: 48px;
      height: auto; }
      @media only screen and (min-width: 350px) {
        .team-names .gravatars img {
          width: 52px; } }

.team-scores {
  float: left;
  width: 20%;
  padding: 10px 15px;
  text-align: center;
  color: white; }
  .team-scores .score {
    position: relative;
    font-size: 2.5em; }
    .team-scores .score .red, .team-scores .score .blue {
      position: absolute;
      width: 50px;
      text-align: center;
      top: 40px;
      z-index: 10;
      color: #222222; }
      @media only screen and (min-width: 350px) {
        .team-scores .score .red, .team-scores .score .blue {
          position: relative;
          color: white; } }
    .team-scores .score .red {
      left: -100px; }
      @media only screen and (min-width: 350px) {
        .team-scores .score .red {
          top: 0;
          left: 0; } }
    .team-scores .score .blue {
      right: -100px; }
      @media only screen and (min-width: 350px) {
        .team-scores .score .blue {
          top: 0;
          right: 0; } }
  .team-scores .winner {
    font-weight: bold; }
  .team-scores .long-time {
    display: none; }
  @media only screen and (min-width: 350px) {
    .team-scores .short-time {
      display: none; }
    .team-scores .long-time {
      display: block; } }

#create-match-button {
  margin-top: 10px; }

.button.fetch {
  margin-top: 20px; }

/* SaveMatchResult View
----------------------------------------------------------*/
#submit-match-form {
  background: none #fff;
  border-radius: 5px;
  padding: 15px 20px; }

.team {
  width: 40%; }

.team-scores {
  width: 20%; }

.team-score {
  height: 40px;
  width: 40px !important;
  font-size: 22px;
  text-align: center;
  margin: 5px auto 0 auto; }

.score-slider {
  -webkit-appearance: slider-vertical;
  overflow: -moz-scrollbars-vertical;
  height: 100px;
  width: 40px;
  margin: 10px auto 15px auto;
  display: block; }

#team-red-players {
  float: left; }

#team-blue-players {
  float: right; }
  #team-blue-players .team-name {
    text-align: right; }

#team-results {
  clear: both; }

.opponent {
  padding: 20px 0; }
  .opponent input {
    width: 40px;
    margin: 0 auto;
    display: block; }

#fighting-team-red {
  float: left;
  width: 45%; }

#fighting-team-blue {
  float: right;
  width: 45%; }

