// Import mixins
@import "_mixins";
//@import "_match-tables";

/* Match View
----------------------------------------------------------*/
#submit-match-form, #submit-challenge-form {
    display: none;
    margin-top: 20px;
}

.match {
	margin: 40px 0 0 0;
}

.team-names {
	position: relative;
	background: none rgba(255,255,255,.75);
	@include round-border-small;
	width: 40%;
	height: 90px;
	float: left;
	padding: 10px 15px;

	&.red {
		text-align: left;

		.gravatars {
			left: 10px;

			img {
				float: left;
				margin-right: 5px;
			}
		}
	}
	&.blue {
		text-align: right;

		.gravatars {
			right: 10px;

			img {
				float: right;
				margin-left: 5px;
			}
		}
	}

	&.winner {
        background: none rgba(255,255,255,1);
		font-weight: bold;
	}

	.nicknames, .names {
		width: 100%;
		@include ellipsis;
		margin: 35px 0 0 0;
		display: block;
	}

	.names { 
		display: none;

		@media only screen and (min-width : 350px) {
			display: block;
		}
	}

	.gravatars {
		position: absolute;
		top: -20px;

		img {
			border-radius: 50%;
			width: 48px;
			height: auto;

			@media only screen and (min-width : 350px) {
				width: 52px;
			}
		}
	}
}

.team-scores {
	float: left;
	width: 20%;
	padding: 10px 15px;
	text-align: center;
	color: white;

	.score {
		position: relative;
		font-size: 2.5em;

		.red, .blue {
			position: absolute;
			width: 50px;
			text-align: center;
			top: 40px;
			z-index: 10;
			color: $dark;

			@media only screen and (min-width : 350px) {
				position: relative;
				color: white;
			}
		}
		.red {
			left: -100px;

			@media only screen and (min-width : 350px) {
				top: 0;
				left: 0;
			}
		}
		.blue {
			right: -100px;

			@media only screen and (min-width : 350px) {
				top: 0;
				right: 0;
			}
		}
	}
	.winner {
		font-weight: bold;
	}

	.long-time { display: none; }

	@media only screen and (min-width : 350px) {
		.short-time { display: none; }
		.long-time { display: block; }
	}
}

#create-match-button {
    margin-top: 10px;
}

/* SaveMatchResult View
----------------------------------------------------------*/
#submit-match-form {
	background: none #fff;
	border-radius: 5px;
	padding: 15px 20px;
}
.team {
	width: 40%;
}
.team-scores {
	width: 20%;
}
.team-score {
    height: 40px;
    width: 40px!important;
    font-size: 22px;
    text-align: center;
    margin: 5px auto 0 auto;
}
.score-slider {
    -webkit-appearance: slider-vertical;
    overflow: -moz-scrollbars-vertical;
    height: 100px;
    width: 40px;
    margin: 10px auto 15px auto;
    display: block;
}
#team-red-players {
    float: left;}
#team-blue-players {
    float: right;
	
	.team-name {
		text-align:right;
	}
}

    #team-results {
        clear: both;
    }
    .opponent {
        padding: 20px 0;

        input {
            width: 40px;
            margin: 0 auto;
            display: block;
        }
    }
    #fighting-team-red
    {
        float: left;
        width: 45%;
    }
    #fighting-team-blue {
        float: right;
        width: 45%;
    }