/* Player View
----------------------------------------------------------*/
.players {
  text-align: center; }

.player {
  position: relative;
  background: none #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 47.5%;
  padding: 10px 15px;
  margin: 20px 10px;
  float: left; }
  .player:nth-child(1) {
    background: url("https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/icon_medal_gold.png") no-repeat 11px 20px white;
    background-size: 50px 50px;
    margin: 15px auto 15px;
    width: 50%;
    height: 75px;
    float: none; }
  .player:nth-child(2) {
    background: url("https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/icon_medal_silver.png") no-repeat 11px 20px white;
    background-size: 50px 50px;
    height: 75px; }
  .player:nth-child(3) {
    background: url("https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/icon_medal_bronze.png") no-repeat 11px 20px white;
    background-size: 50px 50px;
    height: 75px; }
  .player .ranking {
    float: left;
    font-size: 26px;
    font-weight: bold;
    color: #D1D1D1;
    margin-right: 0;
    margin-top: 9px;
    width: 40px; }
  .player .avatar {
    float: left;
    margin: -30px 10px 0 -5px; }
    .player .avatar .gravatar {
      width: 52px;
      height: auto;
      border-radius: 50%; }
  .player .info {
    float: left;
    margin-top: 4px; }
    .player .info .name {
      width: 200px;
      float: left; }
    .player .info .score, .player .info .ratio {
      margin: 0 0 0 15px;
      float: left; }
    .player .info sup {
      color: #999999;
      font-size: 10px;
      margin-left: 2px; }

.won-lost-played {
  display: inline;
  color: #999999; }
  .won-lost-played span {
    color: #222; }
  .won-lost-played .won {
    color: green; }
  .won-lost-played .lost {
    color: red; }

#edit-player-form label, #edit-player-form input {
  display: block; }
#edit-player-form #Email {
  display: inline; }
#edit-player-form input[type="text"], #edit-player-form input[type="email"], #edit-player-form input[type="password"] {
  margin: 2px 0; }

#profile-gravatar {
  border: 4px solid #dddddd;
  height: 80px;
  margin: 4px; }

/* Player Details View
----------------------------------------------------------*/
#stats-title {
  width: 99%;
  text-align: center; }

#player-stats div {
  float: left; }
#player-stats .label {
  clear: left;
  width: 80px; }

#player-match-history {
  font-size: .85em;
  font-weight: normal; }
  #player-match-history div {
    float: left;
    margin-left: 3px; }
  #player-match-history .date {
    clear: both;
    font-weight: bold; }
  #player-match-history .name {
    display: none; }
  #player-match-history .time {
    clear: left; }

@media only screen and (min-width: 470px) {
  #player-match-history .name {
    display: block; }
  #player-match-history .nickname {
    display: none; } }

