/* Stats View
----------------------------------------------------------*/
.statistics {
  background: none #fff;
  border-radius: 5px;
  padding: 15px; }
  .statistics .info {
    font-weight: bold;
    margin: 0 0 10px 0; }
    .statistics .info .thin {
      font-weight: normal; }
  .statistics .stat {
    width: 25%;
    float: left;
    text-align: center;
    padding: 20px; }
    .statistics .stat .avatar img {
      border-radius: 50%; }
  .statistics.player {
    padding: 25px; }
    .statistics.player .avatar {
      margin: -40px 10px 0 -5px; }
      .statistics.player .avatar .gravatar {
        border-radius: 50%; }
    .statistics.player .column {
      float: left; }
      .statistics.player .column.first {
        width: 40%; }
      .statistics.player .column.second {
        width: 60%; }

