// Variable declarations
$light: #C3FFC3;
$dark: #222;
$darkest: #000;
$std-border: 2px solid #6A6;
$red-team-color: #C00;
$blue-team-color: #00A;

// mixin declarations
@mixin round-border-small {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
@mixin round-border-medium {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
@mixin round-border-large {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
@mixin std-round-border {
	border: 2px solid #6A6;
	@include round-border-small;
}