/* Match View
----------------------------------------------------------*/
#create-match-form .select-player {
  margin: 2px 0px; }

.team {
  margin-top: 3px;
  width: 45%;
  text-align: center; }

.red-team, #team-red-players {
  float: left;
  clear: left; }

.vs {
  float: left;
  margin-top: 3px;
  text-align: center;
  vertical-align: middle;
  width: 10%; }

.blue-team, #team-blue-players, .blue-score {
  float: right;
  clear: right; }

#create-match-button {
  margin-top: 10px; }

.list-of-matches {
  font-size: .9em;
  line-height: 1.0em; }

table th.names, table th.nicknames, table th.score, table td.names, table td.nicknames, table td.score {
  text-align: center; }
table th.rating, table th.played, table th.created, table td.rating, table td.played, table td.created {
  text-align: right; }
table td.score, table td.played, table td.created {
  white-space: nowrap; }
table th.red {
  color: #C00; }
table th.blue {
  color: #00A; }
table .winner {
  color: black;
  font-weight: bold; }

#pending-matches .names, #pending-matches .odds, #pending-matches .created {
  display: none; }
#pending-matches .delete div, #pending-matches .resolve div {
  width: 15px;
  margin: 0px auto; }

#legendary-matches .names, #legendary-matches .created {
  display: none; }
#legendary-matches .red.winner {
  color: #C00; }
#legendary-matches .blue.winner {
  color: #00A; }

/* @MediaQuery: iPad / Tablet */
@media only screen and (min-width: 470px) {
  table th {
    font-size: 1.0em; } }
/* @MediaQuery: iPad / Tablet */
@media only screen and (min-width: 750px) {
  table thead {
    border-color: #223322; }
  table th, table td {
    border: 2px solid #007000; }

  .list-of-matches {
    line-height: 1.0em; }

  #pending-matches .nicknames {
    display: none; }
  #pending-matches .names, #pending-matches .created {
    display: table-cell; }

  #legendary-matches .nicknames {
    display: none; }
  #legendary-matches .names, #legendary-matches .created {
    display: table-cell; } }
/* SaveMatchResult View
----------------------------------------------------------*/
.team-score {
  height: 40px;
  width: 40px!important;
  font-size: 22px;
  text-align: center;
  margin: 5px auto 0px auto; }

.score-slider {
  -webkit-appearance: slider-vertical;
  height: 100px;
  width: 30px;
  margin: 10px auto 15px auto; }

#team-titles {
  clear: both;
  width: 99%; }
  #team-titles .team {
    font-size: 0.85em;
    font-weight: lighter;
    text-align: center; }
    #team-titles .team label {
      font-size: 1.5em;
      font-weight: bold; }
  #team-titles #team-red-players {
    float: left; }
  #team-titles #team-blue-players {
    float: right; }

#team-results {
  clear: both; }

#fighting-team-red {
  float: left;
  width: 45%; }
  #fighting-team-red input, #fighting-team-red label {
    float: left;
    clear: both;
    margin-left: 20px; }

#fighting-team-blue {
  float: right;
  width: 45%; }
  #fighting-team-blue input, #fighting-team-blue label {
    float: right;
    clear: both;
    margin-right: 20px; }

#back-to-match {
  text-decoration: underline; }

