// Import mixins
@import "_mixins";
@import "_match-tables";

/* Stats View
----------------------------------------------------------*/
#player-statistics {
	div {
		font-weight: bold;
		font-size: 1.0em;
	}
	.first, .second {
		width: 200px;
		float: left;
	}
	.label {
		font-weight: normal;
		font-size: .85em;
	}
}