<input ng-cloak ng-click="hideForm=!hideForm" type="button" class="button" value="Create a Match" />

<form name="resolveMatchForm" ng-submit="submitMatch()" ng-controller="SubmitMatchController">
    <div ng-hide="hideForm" id="submit-match-form" class="closed clearfix">
        <div id="team-red-players" class="team">
            <div class="team-name">Red Team</div>
            <div class="form-input">
                <select name="redPlayer1" ng-model="match.RedPlayer1.Id" required>
                    <option></option>
                    <option ng-repeat="player in players" value="{{player.Id}}">{{player.Name}}</option>
                </select>
            </div>
            <br />
            <div class="form-input">
                <select name="redPlayer2" ng-model="match.RedPlayer2.Id">
                    <option></option>
                    <option ng-repeat="player in players" value="{{player.Id}}">{{player.Name}}</option>
                </select>
            </div>
        </div>
        <div id="team-blue-players" class="team">
            <div class="team-name">Blue Team</div>
            <div class="form-input">
                <select name="bluePlayer1" ng-model="match.BluePlayer1.Id" required>
                    <option></option>
                    <option ng-repeat="player in players" value="{{player.Id}}">{{player.Name}}</option>
                </select>
            </div>
            <br />
            <div class="form-input">
                <select name="bluePlayer2" ng-model="match.BluePlayer2.Id">
                    <option></option>
                    <option ng-repeat="player in players" value="{{player.Id}}">{{player.Name}}</option>
                </select>
            </div>
        </div>
        <div class="team-scores">
            <div class="form-input opponent red">
                <input type="number" min="0" max="99" placeholder="0" class="team-score" required ng-model="match.RedScore"/>
            </div>
            <div class="form-input opponent blue">
                <input type="number" min="0" max="99" placeholder="0" class="team-score" required ng-model="match.BlueScore"/>
            </div>
            <div class="form-button">
                <input type="submit" value="Submit score" class="submit-button button" id="submit-score-button"/>
            </div>
        </div>
    </div>
</form>