@model FoosBall.Models.StatsModel
@{
    ViewBag.Title = "Stats";
}
@section Css{ <link rel="stylesheet" href="/Content/Stats.css"/>}
<h3>Statistics</h3>

<fieldset>
    <legend>Player stats</legend>
    <table id="player-stats">
        <tbody>
            <tr><td>No of players</td>  <td>@Model.NoOfPlayers.ToString()</td></tr>
            <tr><td>Most Played</td>    <td>@Model.MostPlayed</td></tr>
            @*<tr><td>Most Wins</td>      <td>@Model.MostWins</td></tr>
            <tr><td>Most Losses</td>    <td>@Model.MostLosses</td></tr>*@
            <tr><td>Most Goals</td>     <td></td></tr>
        </tbody>
    </table>
</fieldset>

<fieldset>
    <legend>Match stats</legend>
    <table id="match-stats">
        <tbody>        
            <tr><td>Latest Match</td>    <td></td></tr>
            <tr><td>Total Played</td>    <td></td></tr>
            <tr><td>Total Goals</td>     <td></td></tr>
        </tbody>
    </table>
</fieldset>

