@{
    ViewBag.Title = "Stats";
}

<h3>Statistics</h3>

<table id="player-stats">
    <thead>
        <tr>
            <th colspan="2">Players</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Most Played</td>    <td></td></tr>
        <tr><td>Most Wins</td>      <td></td></tr>
        <tr><td>Most Losses</td>    <td></td></tr>
        <tr><td>Most Goals</td>     <td></td></tr>
    </tbody>
</table>

<table id="match-stats">
    <thead>
        <tr>
            <th colspan="2">Matches</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Total Played</td>    <td></td></tr>
        <tr><td>Total Wins</td>      <td></td></tr>
        <tr><td>Total Losses</td>    <td></td></tr>
        <tr><td>Total Goals</td>     <td></td></tr>
    </tbody>
</table>