<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!--<add key="Database" value="mongodb://admin:foos@localhost:27017/FoosBall" />-->
        
        <!-- staging -->
        <!--<add key="Database" value="mongodb://admin:4va4lbertml@ds039417.mongolab.com:39417/appharbor_4ca40675-7f79-47f6-a83f-b227f24172c1" />-->
        <!-- production -->
        <add key="Database" value="mongodb://admin:4va4lbertml@ds039467.mongolab.com:39467/appharbor_91a02254-b6c1-4f8a-8a8d-8acbeb96c62f" />
    </appSettings>
</configuration>