    @model FoosBall.Models.Views.ConfigViewModel
@{
    ViewBag.Title = "Configuration";
}

@section Javascript
{ 
    <script src="/Scripts/angular.min.js"></script> 
    <script src="/Scripts/_ngAdmin.js"></script> 
    <script async src="/Scripts/Admin.js"></script> 
}
@section Css { <link rel="stylesheet" href="/Content/Admin.css"/> }

<div data-ng-app>
    <fieldset data-ng-controller="settingsCtrl" id="app-configuration">
        <legend>Configuration</legend>
        @using (Html.BeginForm("Save", "Admin", FormMethod.Post))
        {
            /* Angular stuff */
            <div data-ng-repeat="input in inputs">
                <label>{{input.label}}</label>
                <input type="text" data-ng-model="input.value">
            </div>

            <div data-ng-repeat="checkbox in checkboxes">
                <label>{{checkbox.label}}</label>
                <input type="checkbox" data-ng-model="checkbox.value">
            </div>

            <input name="save-config" type="submit" value="Save" class="button"/>
        }
    </fieldset>

    <fieldset id="data-migration">
        <legend>Copy Mongo data</legend>
        <button class="button" href="#" id="copy-prod-to-staging">Copy Production Data to Staging</button>
    </fieldset>

    <fieldset id="player-editor">
        <legend>Edit Players (experimental)</legend>
    
        @Html.LabelFor(m => Model.Users, "Choose a player")
        <select id="select-player" name="select-player">
            <option></option>
            @foreach (var user in Model.Users)
            {
                <option id="@user.Value" value="@user.Value">@user.Text</option>
            }
        </select>
    
        <div id="player-data"></div>
    </fieldset>
</div>