<input data-ng-hide="session.IsLoggedIn" data-ng-disabled="true" type="button" class="button" value="Please log in to create a Match" />
<input data-ng-hide="!session.IsLoggedIn" data-ng-click="hideForm=!hideForm" type="button" class="button" value="Create a Match" />

<form data-ng-cloak data-ng-if="session.IsLoggedIn" name="resolveMatchForm" data-ng-submit="submitMatch()" data-ng-model="match" data-ng-controller="SubmitMatchController">
    <div data-ng-hide="hideForm" id="match-form" class="clearfix">
        <div id="team-red-players" class="team">
            <div class="team-name">Red Team
                <span class="score-prediction hide">
                    (rating: <span class="rating"></span>, chance of winning: <span class="chance"></span>%, gain: <span class="gain"></span>)  
                </span>
            </div>
            <div class="form-input">
                <select name="redPlayer1" required data-ng-model="match.RedPlayer1.Id" data-ng-focus="onPlayerSelectFocus($event)" data-ng-change="onPlayerSelectChange()" >
                    <option></option>
                    <option data-ng-repeat="player in players" value="{{player.Id}}" data-player-rating="{{player.Rating}}">{{player.Name}}</option>
                </select>
            </div>
            <br />
            <div class="form-input">
                <select name="redPlayer2" data-ng-model="match.RedPlayer2.Id" data-ng-focus="onPlayerSelectFocus($event)" data-ng-change="onPlayerSelectChange()">
                    <option></option>
                    <option data-ng-repeat="player in players" value="{{player.Id}}" data-player-rating="{{player.Rating}}">{{player.Name}}</option>
                </select>
            </div>
        </div>
        <div id="team-blue-players" class="team">
            <div class="team-name">Blue Team
                <span class="score-prediction hide">
                    (rating: <span class="rating"></span>, chance of winning: <span class="chance"></span>%, gain: <span class="gain"></span>)
                </span>
            </div>
            <div class="form-input">
                <select name="bluePlayer1" data-ng-model="match.BluePlayer1.Id" required data-ng-focus="onPlayerSelectFocus($event)" data-ng-change="onPlayerSelectChange()">
                    <option></option>
                    <option data-ng-repeat="player in players" value="{{player.Id}}" data-player-rating="{{player.Rating}}">{{player.Name}}</option>
                </select>
            </div>
            <br />
            <div class="form-input">
                <select name="bluePlayer2" data-ng-model="match.BluePlayer2.Id" data-ng-focus="onPlayerSelectFocus($event)" data-ng-change="onPlayerSelectChange()">
                    <option></option>
                    <option data-ng-repeat="player in players" value="{{player.Id}}" data-player-rating="{{player.Rating}}">{{player.Name}}</option>
                </select>
            </div>
        </div>
        <div class="team-scores">
            <div class="form-input opponent red">
                <input type="number" data-ng-model="match.RedScore" name="redScore" id="redScore" foosball-score required min="0" value="0" class="team-score" />
            </div>
            <div class="form-input opponent blue">
                <input type="number" data-ng-model="match.BlueScore" name="blueScore" id="blueScore" foosball-score required min="0" value="0" class="team-score" />
            </div>
            <div class="form-button">
                <input type="submit" data-ng-disabled="resolveMatchForm.$invalid" value="Submit score" class="submit-button button" id="submit-score-button"/>
            </div>
        </div>
    </div>
</form>