<div ng-cloak class="adv-statistics clearfix" ng-controller="AdvancedStatsController">
    <!-- start -->
    <div class="vs-container">
        <form name="resolveAdvStatsForm" ng-submit="submitPlayers()" ng-model="participants">
            <div class="team-a fl vs-team">
                <select name="team-a-player-1" ng-model="participants.teamAPlayer1Id" ng-focus="onPlayerSelectFocus($event)" ng-change="onPlayerSelectChange()">
                    <option></option>
                    <option ng-repeat="player in players" value="{{player.Id}}">{{player.Name}}</option>
                </select>
                <select name="team-a-player-2" ng-model="participants.teamAPlayer2Id" ng-show="participants.teamAPlayer1Id" ng-focus="onPlayerSelectFocus($event)" ng-change="onPlayerSelectChange()">
                    <option></option>
                    <option ng-repeat="player in players" value="{{player.Id}}">{{player.Name}}</option>
                </select>
            </div>
            <div class="fl vs-text">
                <p>VS</p>
            </div>
            <div class="team-b fl vs-team">
                <select name="team-b-player-1" ng-model="participants.teamBPlayer1Id" ng-focus="onPlayerSelectFocus($event)" ng-change="onPlayerSelectChange()">
                    <option></option>
                    <option ng-repeat="player in players" value="{{player.Id}}">{{player.Name}}</option>
                </select>
                <select name="team-b-player-2" ng-model="participants.teamBPlayer2Id" ng-show="participants.teamBPlayer1Id" ng-focus="onPlayerSelectFocus($event)" ng-change="onPlayerSelectChange()">
                    <option></option>
                    <option ng-repeat="player in players" value="{{player.Id}}">{{player.Name}}</option>
                </select>
            </div>
            <input ng-disabled="!participants.teamAPlayer1Id || !participants.teamBPlayer1Id || !matchesAreReady" type="submit" id="vs-stats-calc" ng-click="addRotation()" value="calculate" />
        </form>
    </div>

    <div class="stat-data-container" ng-class="{active: isStatsCalculated}">
        <div class="data-row">
            <p class="data-cell">{{stats.rank.teamAPlayer1}}<span ng-if="stats.rank.teamAPlayer2 !== 0">, {{stats.rank.teamAPlayer2}}</span></p>
            <p class="data-label">Rank</p>
            <p class="data-cell">{{stats.rank.teamBPlayer1}}<span ng-if="stats.rank.teamBPlayer2 !== 0">, {{stats.rank.teamBPlayer2}}</span></p>
        </div>

        <div class="data-row">
            <p class="data-cell">{{stats.matchesVersus}}</p>
            <p class="data-label">Matches Versus</p>
            <p class="data-cell">{{stats.matchesVersus}}</p>
        </div>
        <!--
        <div class="data-row">
            <p class="data-cell">{{stats.matchesTotal.teamA}}</p>
            <p class="data-label">Matches Total</p>
            <p class="data-cell">{{stats.matchesTotal.teamB}}</p>
        </div>
        -->
        <div class="data-row">
            <p class="data-cell">{{stats.fightsWon.teamA}}</p>
            <p class="data-label">Fights won</p>
            <p class="data-cell">{{stats.fightsWon.teamB}}</p>
        </div>

        <div class="data-row">
            <p class="data-cell">{{stats.pointsWon.teamA | number:1}}</p>
            <p class="data-label">Points won</p>
            <p class="data-cell">{{stats.pointsWon.teamB | number:1}}</p>
        </div>
        <div class="data-row">
            <p class="data-cell">{{stats.goalsScored.teamA}}</p>
            <p class="data-label">Goals scored</p>
            <p class="data-cell">{{stats.goalsScored.teamB}}</p>
        </div>
        <div class="data-row team-color">
            <p class="data-cell" ng-class="{red: stats.preferredColor.teamA.color.match('red'), blue: stats.preferredColor.teamA.color.match('blue')}" class="team-a-color">{{stats.preferredColor.teamA.color}} ({{stats.preferredColor.teamA.count}})</p>
            <p class="data-label">Pref. color</p> 
            <p class="data-cell" ng-class="{red: stats.preferredColor.teamB.color.match('red'), blue: stats.preferredColor.teamB.color.match('blue')}"  class="team-b-color">{{stats.preferredColor.teamB.color}} ({{stats.preferredColor.teamB.count}})</p>
        </div>
        <div class="data-row">
            <p class="data-cell">{{stats.biggestWin.teamA.result}}</p>
            <p class="data-label">Biggest win</p>
            <p class="data-cell">{{stats.biggestWin.teamB.result}}</p>
        </div>
        <div class="data-row">
            <p class="data-cell">{{stats.flawlessWins.teamA}}</p>
            <p class="data-label">Flawless wins</p>
            <p class="data-cell">{{stats.flawlessWins.teamB}}</p>
        </div>
        <div class="data-row">
            <p class="data-cell">{{stats.mostPointsWon.teamA | number:2}}</p>
            <p class="data-label multiline">Most points won in a game</p>
            <p class="data-cell">{{stats.mostPointsWon.teamB | number:2}}</p>
        </div>
        <div class="data-row">
            <p class="data-cell" >{{stats.experience.teamAPlayer1}}<span ng-if="stats.experience.teamAPlayer2 !== ''"> / {{stats.experience.teamAPlayer2}}</span></p>  <!-- (playerOne.total.matches.length + playerTwo.total.matches.length) / 2  [ make case with val that outputs a string value ] -->
            <p class="data-label">Experience</p>
            <p class="data-cell">{{stats.experience.teamBPlayer1}}<span ng-if="stats.experience.teamBPlayer2 !== ''"> / {{stats.experience.teamBPlayer2}}</span></p>
        </div>

    </div>

</div> <!-- end -->
