<div class="home clearfix">
    <h2 id="welcome-message">Welcome FoosBall Player!</h2>
    <br />
    <br />
    <p>June '14</p>
    <p>Hep! Thanks for trying out the Foosball application</p>
    <p>This application is created upon good ideas and wishes from colleagues and friends.</p>
    <p>If you have wishes or ideas (or complaints) - please go here: <b><a href="https://github.com/j4kobbech/FoosBall/issues">https://github.com/j4kobbech/FoosBall/issues </a></b> and submit a new issue</p>
</div>