<div class="signup" data-ng-controller="LoginController">
    <form name="loginForm" data-ng-submit="submitLogin()">
        <div>
            <input data-ng-model="email" name="email" required="true" type="text" placeholder="Email" value="" />
        </div>
        <br>
        <div>
            <input data-ng-model="password" name="password" required="true" type="password" name="password" value="" placeholder="Password" autocapitalize="off" autocorrect="off" />
        </div>
        <br>
        <div>
            <input name="rememberMe" data-ng-model="rememberMe" type="checkbox" value="" />
            <label for="rememberMe">Remember me</label>
        </div>

        <div class="error validation-message">{{loginMessage}}</div>
        <input class="button" type="submit" value="Log On" />
    </form>
</div>

