<div class="login" data-ng-controller="SignupController">
    <form name="signupForm" data-ng-submit="submitSignup()">
        <div>
            <input data-ng-model="email" name="email" required="true" type="text" placeholder="Email" value="" />
        </div>
        <br>
        <div>
            <input data-ng-model="name" name="name" required="true" type="text" placeholder="Your name" value="" />
        </div>
        <br>
        <div>
            <input data-ng-model="password" name="password" required="true" type="password" name="password" value="" placeholder="Password" autocapitalize="off" autocorrect="off" />
        </div>
        <br>
        <div class="error validation-message" data-ng-hide="!showLoginMessage">{{signupMessage}}</div>
        <input class="button" type="submit" value="Sign up" />
    </form>
</div>

