<div data-ng-cloak data-ng-controller="StatsController" class="statistics clearfix">
    <div class="foosball-spinner" data-ng-show="!statsDataReady" ></div>
    <span data-ng-show="statsDataReady">
        <div class="stat">
            <div class="info">Most Fights</div>
            <div class="avatar">
                <a href="{{stats.MostFights.StatsUrl}}"><img class="gravatar" title="{{stats.MostFights.Name}}" data-ng-src="{{stats.MostFights.GravatarUrl}}"/></a>
            </div>
            <div class="info first">
                {{stats.MostFights.Played}} <span class="thin">fights fought</span>
            </div>
        </div>

        <div class="stat">
            <div class="info">Most Wins</div>
            <div class="avatar">
                <a href="{{stats.MostWins.StatsUrl}}"><img class="gravatar" title="{{stats.MostWins.Name}}" data-ng-src="{{stats.MostWins.GravatarUrl}}"/></a>
            </div>
            <div class="info">{{stats.MostWins.Won}} <span class="thin">fights won</span></div>
        </div>

        <div class="stat">
            <div class="info">Most Losses</div>
            <div class="avatar">
                <a href="{{stats.MostLosses.StatsUrl}}"><img class="gravatar" title="{{stats.MostLosses.Name}}" data-ng-src="{{stats.MostLosses.GravatarUrl}}"/></a>
            </div>
            <div class="info">{{stats.MostLosses.Lost}} <span class="thin">fights lost</span></div>
        </div>

        <div class="stat">
            <div class="info">Top Ranked</div>
            <div class="avatar">
                <a href="{{stats.TopRanked.StatsUrl}}"><img class="gravatar" title="{{stats.TopRanked.Name}}" data-ng-src="{{stats.TopRanked.GravatarUrl}}"/></a>
            </div>
            <div class="info"><a href="{{stats.TopRanked.StatsUrl}}">{{stats.TopRanked.Name}}</a></div>
        </div>

        <div class="stat">
            <div class="info">Bottom Ranked</div>
            <div class="avatar">
                <a href="{{stats.BottomRanked.StatsUrl}}"><img class="gravatar" title="{{stats.BottomRanked.Name}}" data-ng-src="{{stats.BottomRanked.GravatarUrl}}"/></a>
            </div>
            <div class="info"><a href="{{stats.BottomRanked.StatsUrl}}">{{stats.BottomRanked.Name}}</a></div>
        </div>

        <div class="stat">
            <div class="info">Highest Rating Ever</div>
            <div class="avatar">
                <a href="{{stats.HighestRatingEver.StatsUrl}}"><img class="gravatar" title="{{stats.HighestRatingEver.Name}}" data-ng-src="{{stats.HighestRatingEver.GravatarUrl}}"/></a>
            </div>
            <div class="info"><span class="thin">with</span> {{stats.HighestRatingEver.Rating.toFixed(2)}} <span class="thin">rating points</span></div>
        </div>

        <div class="stat">
            <div class="info">Lowest Rating Ever</div>
            <div class="avatar">
                <a href="{{stats.LowestRatingEver.StatsUrl}}"><img class="gravatar" title="{{stats.LowestRatingEver.Name}}" data-ng-src="{{stats.LowestRatingEver.GravatarUrl}}"/></a>
            </div>
            <div class="info">
                <span class="thin">with</span> {{stats.LowestRatingEver.Rating.toFixed(2)}} <span class="thin">rating points</span>
            </div>
        </div>

        <div class="stat">
            <div class="info">Longest Winning streak</div>
            <div class="avatar">
                <a href="{{stats.LongestWinningStreak.Player.StatsUrl}}"><img class="gravatar" title="{{stats.LongestWinningStreak.Player.Name}}" data-ng-src="{{stats.LongestWinningStreak.Player.GravatarUrl}}"/></a>
            </div>
            <div class="info">
                <span class="thin">won</span> {{stats.LongestWinningStreak.Count}} <span class="thin">fights in a row</span>
            </div>
        </div>

        <div class="stat">
            <div class="info">Longest Losing streak</div>
            <div class="avatar">
                <a href="{{stats.LongestLosingStreak.Player.StatsUrl}}"><img class="gravatar" title="{{stats.LongestLosingStreak.Player.Name}}" data-ng-src="{{stats.LongestLosingStreak.Player.GravatarUrl}}"/></a>
            </div>
            <div class="info">
                <span class="thin">lost</span> {{stats.LongestLosingStreak.Count}} <span class="thin">fights in a row</span>
            </div>
        </div>
    
        <div class="stat">
            <div class="info">Biggest Win</div>
            <div class="info">
                <a href="{{stats.BiggestRatingWin.WinningTeam.Players[0].StatsUrl}}">{{stats.BiggestRatingWin.WinningTeam.Players[0].Name}}</a>
                <span data-ng-if="stats.BiggestRatingWin.WinningTeam.Players.length > 1">
                    <span class="thin">&</span> 
                    <a href="{{stats.BiggestRatingWin.WinningTeam.Players[1].StatsUrl}}">{{stats.BiggestRatingWin.WinningTeam.Players[1].Name}}</a>
                </span>
                <span class="thin">beat up</span> <a href="/#/playerstats?playerId={{stats.BiggestRatingWin.LosingTeam.Players[0].Id}}">{{stats.BiggestRatingWin.LosingTeam.Players[0].Name}}</a>
                <span data-ng-if="stats.BiggestRatingWin.LosingTeam.Players.length > 1">
                    <span class="thin">&</span> 
                    <a href="{{stats.BiggestRatingWin.LosingTeam.Players[1].StatsUrl}}">{{stats.BiggestRatingWin.LosingTeam.Players[1].Name}}</a>
                </span>
                <span class="thin">and gained</span> {{stats.BiggestRatingWin.Rating.toFixed(2)}} <span class="thin">rating points.</span>
            </div>
        </div>

        <div class="stat">
            <div class="info">Total number of matches:</div>
            <div class="info first">{{stats.TotalNumberOfPlayedMatches}}</div>
        </div>
    
    </span>
</div>

