@model MatchesViewModel
@{
    ViewBag.Title = "Matches";
    var currentUser = (Player)HttpContext.Current.Session["User"];
}
@section Javascript
{ 
    <script async src="@Url.Content("~/Javascript/Matches.js")"></script> 
    <script src="@Url.Content("~/Javascript/match.controllers.js")"></script> 
}

@section Css{ <link rel="stylesheet" href="/Css/Matches.css"/>}

<div ng-controller="MatchesController" >

    @if (currentUser != null)
    {
        @Html.Partial("_RegisterMatch", Model)
    }
    else
    {
        <p>@Html.ActionLink("Log on", "LogOn", "Account") to register matches</p>
    }

    <div id="match-list">
        @{ Html.RenderPartial("_MatchTemplate"); }
    </div>

</div>