@{
    ViewBag.Title = "Matches";
    var currentUser = (Player)HttpContext.Current.Session["User"];
}
@section Javascript
{ 
    <script src="@Url.Content("~/Javascript/angular/matches.controllers.js")"></script> 
}

<div ng-controller="MatchesController" >

    @if (currentUser != null)
    {
        @Html.Partial("_RegisterMatch")
    }
    else
    {
        <p>@Html.ActionLink("Log on", "LogOn", "Account") to register matches</p>
    }

    <div id="match-list">
        @{ Html.RenderPartial("_MatchTemplate"); }
    </div>

</div>