.register, .logon {
    background: none #fff;
    border-radius: 5px;
    padding: 15px 20px;
}

label { 
    display: block; 
    &[for="RememberMe"] {
        display: inline;
    }
}

#profile-gravatar {
    @include gravatar-large
}