#admin {

    label {
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin: 15px 0px 5px 0px;
    }
    input {
        margin: 0px auto 10px auto;
        &[type="text"] {
            height: 25px;
        }
    }
    .players-configuration {
        .name-col {
            width: 250px;
        }
        .email-col {
            width: 200px;
        }
    }
}