/* The box-model */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: $light;
    color: $dark;
    font-size: 0.75em;
    font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: $darkest;
    text-decoration: none;

    &:visited, &:active {
        color: $darkest;
    }

    &:hover {
        text-decoration: underline;
    }
}

/* HEADINGS
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
    margin: 10px 0 10px 0;
}

h1 {
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

.dimmed {
    color: $font-color-dimmed;
}

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the
page width. Or, you can specify an exact pixel width. */
#page {
    min-width: 320px;
    max-width: 950px;
    margin-left: 5px;
    margin-right: 5px;

    @media only screen and (min-width: 900px) {
        margin-left: auto;
        margin-right: auto;
    }
}

/* TAB MENU
----------------------------------------------------------*/
.menu {
    position: absolute;
    top: 50px;
    right: 15px;
    background: none #fff;
    padding: 0;
    margin: 0;
    &#login-menu {
        width: 200px;
        background: none #fff;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 5px 0px 20px 3px;
        padding: 15px 20px;

    }
    &#main-menu {
        width: 150px;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 5px 0px 20px 3px;

        li {
            border-bottom: 1px solid $seperator-color;
            list-style: none;
            display: list-item; 
            margin: 0;
            width: 100%;
            cursor: pointer;

            &:hover {
                background: darken(#fff, 5);
                text-decoration: none;
            }

            &.selected { 
                font-weight: bold;
            }

            &:last-child {
                border-bottom: none;
            }

            a, a:hover {
                display: block;
                text-decoration: none;
                padding: 10px 15px;
            }
        }
    }
}

.menu-arrow {
    z-index: 1;
    position: absolute;
    top: 45px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    &.main-menu-arrow {
        right: 18px;
    }
    &.login-menu-arrow {
        right: 120px;
    }
}

.menu-list-button {
    position: relative;
    padding-left: 1.25em;
    float: left;
    margin: 2px 15px 0 15px;

    a:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width:14px;
        height:2px;
        border-top: 6px double #fff;
        border-bottom: 2px solid #fff;
    }
}

.menu-login-info, .menu-account-info {
    float: left;
}

.login-display {
    float: right;
    margin: 20px 0 0 0;
    color: $font-color-dimmed;

    a {
        color: #fff;
        text-decoration: none;
    }
}

textarea {
    min-height: 75px;
}

/* --- FoosBall --- v v v
/* ---------------------------------------------------------*/
header, nav, section {
    display: block;
}

header {
    position: fixed; 
    top: 0px;
    width: 100%;
    height: 50px;
    background: none #000;
    z-index: 20;
}

#app-title {
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;

    .logo-picture {
        float: left;
        margin: 10px 15px 0;

        img {
            width: 80px;
            height: auto;
        }
    }
    .logo-text {
        display: none;

        @media only screen and (min-width: 900px) {
            display: block;
            font-size: 2em;
            float: left;
            margin: 10px 0 0 0;
        }
    }
}

#main {
    clear: both;
    min-height: 280px;
    padding: 80px 10px 5px;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #94c47c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #94c47c;
    box-shadow:inset 0px 1px 0px 0px #94c47c;
        
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
        
    background-color:#77b55a;
        
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
        
    border:1px solid #4b8f29;
        
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:6px 24px;
    text-decoration:none;
        
    text-shadow:0px 1px 0px #5b8a3c;
        
        
    &:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
        background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
        background-color:#72b352;
    }
    &:active {
        position:relative;
        top:1px;
    }
}

.editor-icon {
    float: right;
    margin-top: 3px;
    a img {
        height: 18px;
    }
    &#edit-player {
        margin-right: 10px;
    }
    &#delete-player {
        margin-right: 10px;
    }
}

/* FORM LAYOUT ELEMENTS
----------------------------------------------------------*/
fieldset {
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid $dark;
    margin: 0 0 1.5em 0;
    @include box-shadow(1px, 2px, 10px);
    legend {
        border: inherit;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        font-size: 1.0em;
        font-weight: bold;
        margin: 0 auto;
        padding: 3px 5px;
        text-shadow: 2px 2px 2px #DDD;
        background-color: white;
        @include box-shadow(1px, 2px, 5px);
    }
    .wrapper {
        height: 100%;
        width: 100%;
    }
}
select {
    border: 3px solid #ccc;
    color: #444;
    font-size: 1.1em;
    height: 40px;
    margin: 0;
    padding: 2px;
    width: 98%;
}
.submit-button {
    margin: 5px 0;
}
.form-input {
    width:90%;
    margin: 5px auto;
}
.form-button{
    clear: both;
    float: none;
    margin:10px auto 5px auto;
    width: 90%;
}
input[type="text"], input[type="password"], input[type="email"] {
    border: 2px solid #ccc;
    color: #444;
    font-size: 1.1em;
    height: 1.5em;
    padding: 2px;
    width: 98%;

    &.short {
        width: 60px!important;
    }
}
input[type="submit"], input[type="button"], button {
    font-size: 1.0em;
    width: 100%;
    margin: 1px 0;
    &[disabled="disabled"] {
        -moz-box-shadow:inset 0px 1px 0px 0px #bbb;
        -webkit-box-shadow:inset 0px 1px 0px 0px #bbb;
        box-shadow:inset 0px 1px 0px 0px #bbb;
        border: 1px solid #bbb;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ddd), color-stop(1, #ccc));
        background:-moz-linear-gradient(top, #ddd 5%, #ccc 100%);
        background:-webkit-linear-gradient(top, #ddd 5%, #ccc 100%);
        background:-o-linear-gradient(top, #ddd 5%, #ccc 100%);
        background:-ms-linear-gradient(top, #ddd 5%, #ccc 100%);
        background:linear-gradient(to bottom, #ddd 5%, #ccc 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#ccc',GradientType=0);
        color: #aaa;
        &:active {
            top: 0px;
        }
    }
}
/* MISC
----------------------------------------------------------*/
.hide { display: none; }

.ellipsis-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#overlay {
    img {
        display: block;
        width: 100px;
        margin: 50% auto;
    }
}

/* Clear-fix */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

/* Errors and Validation */
.error, .validation-message {
    background: rgba(255, 0, 0, .3);
    border: 2px solid red;
    color: black;
    //display: none;
    margin: 10px 0 0 0;
    padding: 2px;
    width:98%;
    &.small {
        font-size: .85em;
        margin: 2px 0 0 0;
    }
    &.show {
        display: block;
    }
}
.field-validation-error {
    font-size: .85em;
    width:90%;
    margin: 0 auto;
    color: Red;
}


#request-notification {
    position:absolute;
    z-index:99999;
    background-color: #D8D8D8;
    display: none;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    width: 100%;
    .button {
        margin-top: 15px;
    }
}

/* Background */
#bg { position: fixed; top: 0; left: 0; z-index: -1; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
