.frontpage, .features {
    background: none #fff;
    border-radius: 5px;
    padding: 15px 20px;
}

#welcome-message {
    text-align: center;
}

.event-feed-items-header {
    text-align:center;
}
.event-feed-items {
    list-style: none;
    li {
        padding-top: 20px;
    }
    a {
        font-weight: normal;
        font-size: 1.0em;
        text-decoration: underline;
    }
}

.feature-list {
    list-style: none;
    padding-left: 20px;

    li {

        ul li a {
            text-decoration: underline;
        }
    }
}
