.players {
    text-align: center;
}
 
.player {
    position: relative;
    background: none #fff;
    @include round-border-small;
    width: 75%;
    padding: 10px 15px;
    margin: 30px auto;
    background-color: rgba(255,255,255,.6);

    &:nth-child(1) {
        background: url("https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/icon_medal_gold.png");
    }
    &:nth-child(2) {
        background: url("https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/icon_medal_silver.png");
    }
    &:nth-child(3) {  
        background: url("https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/icon_medal_bronze.png");
    }

    &:nth-child(-n+3) {
        background-color: rgba(255,255,255,.85);
        background-repeat: no-repeat;
        background-position: 11px 20px;
        background-size: 50px 50px;
        height: 75px;
    }

    .ranking {
        float: left;
        font-size: 26px;
        font-weight: bold;
        color: #D1D1D1;
        margin-right: 0;
        margin-top: 9px;
        width: 40px;
    }

    .avatar {
        float: left;
        margin: -30px 10px 0 -5px;

        .gravatar {
            width: 52px;
            height: auto;
            border-radius: 50%;
        }
    }
    .info {
        float: left;
        margin-top: 4px;

        .name {
            width: 200px;
            float: left;
        }
        .score, .ratio {
            margin: 0 0 0 15px;
            float: left;
        }

        sup {
            color: $font-color-dimmed;
            font-size: 10px;
            margin-left: 2px;
        }
    }
}

.won-lost-played {
    display: inline;
    color: $font-color-dimmed;
    span {
        color: #222;
    }
    .won {
        color: green;
    }
    .lost {
        color: red;
    }
}

#edit-player-form {
    label, input {
        display: block;
    }
    #Email {
        display: inline;
    }
    input[type="text"], input[type="email"], input[type="password"] {
        margin: 2px 0;
    }
}

#profile-gravatar {
    @include gravatar-large
}

/* Player Details View
----------------------------------------------------------*/
#stats-title {
    width: 99%;
    text-align: center;
}
#player-stats {
    div {
        float: left;
    }
    .label {
        clear: left;
        width: 80px;
    }

}
#player-match-history {
    font-size: .85em;
    font-weight: normal;
    div {
        float: left;
        margin-left: 3px;
    }
    .date {
        clear: both;
        font-weight: bold;
    }
    .name {
        display: none;
    }
    .time {
        clear: left;
    }
}

@media only screen and (min-width : 470px) {
    #player-match-history {
        .name {
            display: block;
        }
    }
}
