<?xml version="1.0" encoding="utf-8" ?>
<configuration 
  xmlns="http://foosball.trustpilot.com"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://foosball.trustpilot.com app.xsd">
  <name>FoosBall Fighting</name>
  <version>0.3</version>
  <domain>trustpilot.com</domain>
  <adminAccount>jbe@trustpilot.com</adminAccount>
  <requireDepartment>true</requireDepartment>
  <requireDomainValidation>true</requireDomainValidation>
  <allowOneOnOneMatches>true</allowOneOnOneMatches>
  <genderSpecificMatches>true</genderSpecificMatches>
</configuration>